In [1]:
import pandas as pd

In [2]:
# Load the CSV file into a DataFrame
Data = pd.read_csv(r"C:\Users\DELL\Downloads\Sample_Data_Ingestion.csv")

In [3]:
Data

,OrderID,CustomerName,PhoneNumber,Location,Country,StoreCode,Product,Quantity,Price,Date,CreditCardNumber,ExpiryDate
0,HEXHEV,John Doe,+1 990-186-7268,New York,USA,ST026,Phone,5.000000,979.970,18-07-2021,5676 8888 7887 7263,Jul-29
1,JCKRFW,John Doe,+1 659-832-6831,New York,USA,ST154,Headphones,1.000000,218.940,01-02-2020,5676 8888 7887 8526,Jan-23
2,PZXZUL,John Doe,+1 564-127-5258,Houston,USA,ST013,Headphones,4.000000,823.080,11-10-2020,5676 8888 7887 1823,Mar-29
3,QELSGN,John Doe,+1 571-789-2219,Los Angeles,USA,ST029,Tablet,10.000000,572.400,17-08-2021,5676 8888 7887 1242,Nov-23
4,KCFBLY,Alice Smith,+1 631-561-3575,Chicago,UK,ST140,Laptop,6.000000,226.930,21-03-2021,5676 8888 7887 9764,Feb-27
...,...,...,...,...,...,...,...,...,...,...,...,...
94,KVZCLD,Robert Johnson,+1 753-733-7136,Houston,Australia,ST144,Laptop,151.742857,4067.490,22-08-2020,5686 8888 7887 4076,Oct-28
95,LVZGLX,Robert Johnson,+1 873-866-8773,New York,UK,ST071,Tablet,154.200000,4133.035,23-11-2021,5686 8888 7887 8573,May-26
96,CPLUKY,Alice Smith,+1 657-683-1942,Chicago,USA,ST113,Laptop,156.657143,4198.580,12-01-2020,5686 8888 7887 3871,Aug-24
97,NFCXII,Robert Johnson,+1 784-282-1391,Los Angeles,UK,ST125,Laptop,159.114286,4264.125,26-01-2022,5686 8888 7887 5522,Aug-24
98,DRTYF,Test User1011,+1 657-683-1998,Mumbai,India,IN454,Phone,161.571429,4329.670,26-01-2023,4232 8888 6654 8876,Dec-24

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderID           99 non-null     object
 1   CustomerName      99 non-null     object
 2   PhoneNumber       99 non-null     object
 3   Location          99 non-null     object
 4   Country           99 non-null     object
 5   StoreCode         99 non-null     object
 6   Product           99 non-null     object
 7   Quantity          99 non-null     float64
 8   Price             99 non-null     float64
 9   Date              99 non-null     object
 10  CreditCardNumber  99 non-null     object
 11  ExpiryDate        99 non-null     object
dtypes: float64(2), object(10)
memory usage: 9.4+ KB

In [12]:
Data.isnull()

,OrderID,CustomerName,PhoneNumber,Location,Country,StoreCode,Product,Quantity,Price,Date,CreditCardNumber,ExpiryDate
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
94,False,False,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False

In [15]:
Data.isnull().sum()

OrderID             0
CustomerName        0
PhoneNumber         0
Location            0
Country             0
StoreCode           0
Product             0
Quantity            0
Price               0
Date                0
CreditCardNumber    0
ExpiryDate          0
dtype: int64

In [21]:
Data['Country'].unique()

array(['USA', 'UK', 'Australia', 'Canada', 'India'], dtype=object)

In [23]:
Data['Country'].nunique()

5

In [24]:
Data['Location'].unique()

array(['New York', 'Houston', 'Los Angeles', 'Chicago', 'Mumbai'],
      dtype=object)

In [25]:
Data['Location'].nunique()

5

In [26]:
Data['StoreCode'].unique()

array(['ST026', 'ST154', 'ST013', 'ST029', 'ST140', 'ST199', 'ST042',
       'ST057', 'ST018', 'ST040', 'ST001', 'ST190', 'ST143', 'ST076',
       'ST048', 'ST146', 'ST125', 'ST058', 'ST163', 'ST155', 'ST192',
       'ST157', 'ST060', 'ST075', 'ST168', 'ST037', 'ST132', 'ST071',
       'ST124', 'ST156', 'ST034', 'ST183', 'ST144', 'ST113', 'IN444',
       'IN445', 'IN446', 'IN447', 'IN448', 'IN449', 'IN450', 'IN451',
       'IN452', 'IN453', 'IN454'], dtype=object)

In [27]:
Data['StoreCode'].nunique()

45

In [36]:
Data['Product'].unique()

array(['Phone', 'Headphones', 'Tablet', 'Laptop'], dtype=object)

In [37]:
Data['Product'].nunique()

4

In [49]:
Data['CreditCardNumber'].unique()

array(['5676 8888 7887 7263', '5676 8888 7887 8526',
       '5676 8888 7887 1823', '5676 8888 7887 1242',
       '5676 8888 7887 9764', '5676 8888 7887 2334',
       '5676 8888 7887 6182', '5676 8888 7887 5001',
       '5676 8888 7887 3084', '5676 8888 7887 6360',
       '5676 8888 7887 7677', '5676 8888 7887 9108',
       '5676 8888 7887 9735', '5676 8888 7887 9579',
       '5676 8888 7887 9528', '5676 8888 7887 8289',
       '5676 8888 7887 6899', '5676 8888 7887 8334',
       '5676 8888 7887 6476', '5676 8888 7887 1946',
       '5676 8888 7887 9226', '5676 8888 7887 7237',
       '5676 8888 7887 7537', '5676 8888 7887 5727',
       '5676 8888 7887 4496', '5676 8888 7887 3288',
       '5676 8888 7887 6911', '5676 8888 7887 3880',
       '5676 8888 7887 4548', '5676 8888 7887 9253',
       '5676 8888 7887 7586', '5676 8888 7887 8096',
       '5676 8888 7887 3257', '5676 8888 7887 6066',
       '5676 8888 7887 4076', '5676 8888 7887 8573',
       '5676 8888 7887 3871', '5676 8888 7887 5522',
       '4222 8888 6654 8876', '5677 8888 7887 6066',
       '5677 8888 7887 4076', '5677 8888 7887 8573',
       '5677 8888 7887 3871', '5677 8888 7887 5522',
       '4223 8888 6654 8876', '5678 8888 7887 6066',
       '5678 8888 7887 4076', '5678 8888 7887 8573',
       '5678 8888 7887 3871', '5678 8888 7887 5522',
       '4224 8888 6654 8876', '5679 8888 7887 6066',
       '5679 8888 7887 4076', '5679 8888 7887 8573',
       '5679 8888 7887 3871', '5679 8888 7887 5522',
       '4225 8888 6654 8876', '5680 8888 7887 6066',
       '5680 8888 7887 4076', '5680 8888 7887 8573',
       '5680 8888 7887 3871', '5680 8888 7887 5522',
       '4226 8888 6654 8876', '5681 8888 7887 6066',
       '5681 8888 7887 4076', '5681 8888 7887 8573',
       '5681 8888 7887 3871', '5681 8888 7887 5522',
       '4227 8888 6654 8876', '5682 8888 7887 6066',
       '5682 8888 7887 4076', '5682 8888 7887 8573',
       '5682 8888 7887 3871', '5682 8888 7887 5522',
       '4228 8888 6654 8876', '5683 8888 7887 6066',
       '5683 8888 7887 4076', '5683 8888 7887 8573',
       '5683 8888 7887 3871', '5683 8888 7887 5522',
       '4229 8888 6654 8876', '5684 8888 7887 6066',
       '5684 8888 7887 4076', '5684 8888 7887 8573',
       '5684 8888 7887 3871', '5684 8888 7887 5522',
       '4230 8888 6654 8876', '5685 8888 7887 6066',
       '5685 8888 7887 4076', '5685 8888 7887 8573',
       '5685 8888 7887 3871', '5685 8888 7887 5522',
       '4231 8888 6654 8876', '5686 8888 7887 6066',
       '5686 8888 7887 4076', '5686 8888 7887 8573',
       '5686 8888 7887 3871', '5686 8888 7887 5522',
       '4232 8888 6654 8876'], dtype=object)

In [50]:
Data['CreditCardNumber'].nunique()

99

In [29]:
Total_quantity_sold_per_country = Data.groupby('Country')['Quantity'].sum()

print(Total_quantity_sold_per_country)

Country
Australia     933.000000
Canada         42.000000
India         974.285714
UK           1867.285714
USA          1798.571429
Name: Quantity, dtype: float64

In [35]:
Product_sold_per_country = Data.groupby('Country')['Product'].unique()

print(Product_sold_per_country)

Country
Australia    [Headphones, Tablet, Phone, Laptop]
Canada       [Headphones, Phone, Laptop, Tablet]
India                                    [Phone]
UK           [Laptop, Phone, Tablet, Headphones]
USA          [Phone, Headphones, Tablet, Laptop]
Name: Product, dtype: object

In [34]:
Product_sold_per_country = Data.groupby('Country')['Product'].nunique()

print(Product_sold_per_country)

Country
Australia    4
Canada       4
India        1
UK           4
USA          4
Name: Product, dtype: int64

In [38]:
Product_sold_per_Location = Data.groupby('Location')['Product'].unique()

print(Product_sold_per_Location)

Location
Chicago        [Laptop, Headphones, Phone, Tablet]
Houston        [Headphones, Tablet, Phone, Laptop]
Los Angeles                [Tablet, Phone, Laptop]
Mumbai                                     [Phone]
New York       [Phone, Headphones, Tablet, Laptop]
Name: Product, dtype: object

In [39]:
Product_sold_per_Location = Data.groupby('Location')['Product'].nunique()

print(Product_sold_per_Location)

Location
Chicago        4
Houston        4
Los Angeles    3
Mumbai         1
New York       4
Name: Product, dtype: int64

In [41]:
Product_sold_per = Data.groupby(['Country', 'Location'])['Product'].unique()

# Display the result
print(Product_sold_per)

Country    Location
Australia  Chicago                            [Tablet]
           Houston        [Headphones, Tablet, Laptop]
           Los Angeles         [Phone, Laptop, Tablet]
           New York        [Headphones, Tablet, Phone]
Canada     Chicago                [Headphones, Tablet]
           Houston                        [Headphones]
           Los Angeles                        [Laptop]
           New York                            [Phone]
India      Mumbai                              [Phone]
UK         Chicago         [Laptop, Phone, Headphones]
           Los Angeles                 [Laptop, Phone]
           New York                   [Tablet, Laptop]
USA        Chicago                            [Laptop]
           Houston         [Headphones, Phone, Laptop]
           Los Angeles                        [Tablet]
           New York        [Phone, Headphones, Laptop]
Name: Product, dtype: object

In [42]:
Product_sold_per = Data.groupby(['Country', 'Location'])['Product'].nunique()

# Display the result
print(Product_sold_per)

Country    Location
Australia  Chicago        1
           Houston        3
           Los Angeles    3
           New York       3
Canada     Chicago        2
           Houston        1
           Los Angeles    1
           New York       1
India      Mumbai         1
UK         Chicago        3
           Los Angeles    2
           New York       2
USA        Chicago        1
           Houston        3
           Los Angeles    1
           New York       3
Name: Product, dtype: int64

In [46]:
# Group by 'Country', 'Location', and 'Product', then sum the 'Quantity'
products_sold_summary = Data.groupby(['Country', 'Location', 'Product'])['Quantity'].sum()

# Reset index to turn MultiIndex into columns
products_sold_summary = products_sold_summary.reset_index()

# Display the result
print(products_sold_summary)

      Country     Location     Product    Quantity
0   Australia      Chicago      Tablet    4.000000
1   Australia      Houston  Headphones    7.000000
2   Australia      Houston      Laptop  856.000000
3   Australia      Houston      Tablet    6.000000
4   Australia  Los Angeles      Laptop    8.000000
5   Australia  Los Angeles       Phone    9.000000
6   Australia  Los Angeles      Tablet   10.000000
7   Australia     New York  Headphones    8.000000
8   Australia     New York       Phone    8.000000
9   Australia     New York      Tablet   17.000000
10     Canada      Chicago  Headphones   10.000000
11     Canada      Chicago      Tablet    2.000000
12     Canada      Houston  Headphones    9.000000
13     Canada  Los Angeles      Laptop   16.000000
14     Canada     New York       Phone    5.000000
15      India       Mumbai       Phone  974.285714
16         UK      Chicago  Headphones    8.000000
17         UK      Chicago      Laptop    6.000000
18         UK      Chicago       Phone    2.000000
19         UK  Los Angeles      Laptop  945.714286
20         UK  Los Angeles       Phone   10.000000
21         UK     New York      Laptop    8.000000
22         UK     New York      Tablet  887.571429
23        USA      Chicago      Laptop  915.142857
24        USA      Houston  Headphones   13.000000
25        USA      Houston      Laptop  838.428571
26        USA      Houston       Phone    6.000000
27        USA  Los Angeles      Tablet   10.000000
28        USA     New York  Headphones    1.000000
29        USA     New York      Laptop   10.000000
30        USA     New York       Phone    5.000000

In [48]:
# Group by 'StoreCode' and 'Product', then sum the 'Quantity'
store_product_sales = Data.groupby(['StoreCode', 'Product'])['Quantity'].sum()

# Reset index to turn MultiIndex into columns
store_product_sales = store_product_sales.reset_index()

# Display the result
print(store_product_sales)

   StoreCode     Product    Quantity
0      IN444       Phone   22.000000
1      IN445       Phone   28.885714
2      IN446       Phone   43.628571
3      IN447       Phone   58.371429
4      IN448       Phone   73.114286
5      IN449       Phone   87.857143
6      IN450       Phone  102.600000
7      IN451       Phone  117.342857
8      IN452       Phone  132.085714
9      IN453       Phone  146.828571
10     IN454       Phone  161.571429
11     ST001      Tablet    5.000000
12     ST013  Headphones    4.000000
13     ST018  Headphones    9.000000
14     ST026       Phone    5.000000
15     ST029      Tablet   10.000000
16     ST034      Laptop    8.000000
17     ST037      Laptop    4.000000
18     ST040       Phone    2.000000
19     ST042  Headphones    4.000000
20     ST042       Phone   10.000000
21     ST048      Tablet    4.000000
22     ST057  Headphones   10.000000
23     ST058  Headphones    4.000000
24     ST060      Laptop    8.000000
25     ST071      Tablet  884.571429
26     ST075      Tablet   10.000000
27     ST076       Phone    9.000000
28     ST113      Laptop  904.142857
29     ST124      Laptop    8.000000
30     ST125      Laptop  945.714286
31     ST132       Phone    6.000000
32     ST140      Laptop    6.000000
33     ST143      Tablet   10.000000
34     ST144      Laptop  856.000000
35     ST146  Headphones    9.000000
36     ST154  Headphones    1.000000
37     ST155      Tablet    6.000000
38     ST156      Laptop    8.000000
39     ST157  Headphones    8.000000
40     ST157      Laptop   10.000000
41     ST163  Headphones    7.000000
42     ST168      Tablet    7.000000
43     ST183      Laptop  838.428571
44     ST190       Phone    5.000000
45     ST192       Phone    8.000000
46     ST199      Laptop    7.000000

In [47]:
# Group by 'Country', 'Location', 'StoreCode', and 'Product', then sum the 'Quantity'
store_sales_summary = Data.groupby(['Country', 'Location', 'StoreCode', 'Product'])['Quantity'].sum()

# Reset index to turn MultiIndex into columns
store_sales_summary = store_sales_summary.reset_index()

# Display the result
print(store_sales_summary)

      Country     Location StoreCode     Product    Quantity
0   Australia      Chicago     ST048      Tablet    4.000000
1   Australia      Houston     ST144      Laptop  856.000000
2   Australia      Houston     ST155      Tablet    6.000000
3   Australia      Houston     ST163  Headphones    7.000000
4   Australia  Los Angeles     ST075      Tablet   10.000000
5   Australia  Los Angeles     ST076       Phone    9.000000
6   Australia  Los Angeles     ST125      Laptop    8.000000
7   Australia     New York     ST042  Headphones    4.000000
8   Australia     New York     ST058  Headphones    4.000000
9   Australia     New York     ST143      Tablet   10.000000
10  Australia     New York     ST168      Tablet    7.000000
11  Australia     New York     ST192       Phone    8.000000
12     Canada      Chicago     ST057  Headphones   10.000000
13     Canada      Chicago     ST071      Tablet    2.000000
14     Canada      Houston     ST146  Headphones    9.000000
15     Canada  Los Angeles     ST060      Laptop    8.000000
16     Canada  Los Angeles     ST124      Laptop    8.000000
17     Canada     New York     ST190       Phone    5.000000
18      India       Mumbai     IN444       Phone   22.000000
19      India       Mumbai     IN445       Phone   28.885714
20      India       Mumbai     IN446       Phone   43.628571
21      India       Mumbai     IN447       Phone   58.371429
22      India       Mumbai     IN448       Phone   73.114286
23      India       Mumbai     IN449       Phone   87.857143
24      India       Mumbai     IN450       Phone  102.600000
25      India       Mumbai     IN451       Phone  117.342857
26      India       Mumbai     IN452       Phone  132.085714
27      India       Mumbai     IN453       Phone  146.828571
28      India       Mumbai     IN454       Phone  161.571429
29         UK      Chicago     ST040       Phone    2.000000
30         UK      Chicago     ST140      Laptop    6.000000
31         UK      Chicago     ST157  Headphones    8.000000
32         UK  Los Angeles     ST034      Laptop    8.000000
33         UK  Los Angeles     ST042       Phone   10.000000
34         UK  Los Angeles     ST125      Laptop  937.714286
35         UK     New York     ST001      Tablet    5.000000
36         UK     New York     ST071      Tablet  882.571429
37         UK     New York     ST156      Laptop    8.000000
38        USA      Chicago     ST037      Laptop    4.000000
39        USA      Chicago     ST113      Laptop  904.142857
40        USA      Chicago     ST199      Laptop    7.000000
41        USA      Houston     ST013  Headphones    4.000000
42        USA      Houston     ST018  Headphones    9.000000
43        USA      Houston     ST132       Phone    6.000000
44        USA      Houston     ST183      Laptop  838.428571
45        USA  Los Angeles     ST029      Tablet   10.000000
46        USA     New York     ST026       Phone    5.000000
47        USA     New York     ST154  Headphones    1.000000
48        USA     New York     ST157      Laptop   10.000000

In [51]:
# Group by 'Country' and 'Location', then count unique 'CreditCardNumber'
unique_credit_cards_per_location = Data.groupby(['Country', 'Location'])['CreditCardNumber'].nunique()

# Reset index to turn MultiIndex into columns for easier readability
unique_credit_cards_per_location = unique_credit_cards_per_location.reset_index()

# Rename the columns for clarity
unique_credit_cards_per_location.columns = ['Country', 'Location', 'UniqueCreditCardCount']

# Display the result
print(unique_credit_cards_per_location)

      Country     Location  UniqueCreditCardCount
0   Australia      Chicago                      1
1   Australia      Houston                     13
2   Australia  Los Angeles                      3
3   Australia     New York                      5
4      Canada      Chicago                      2
5      Canada      Houston                      1
6      Canada  Los Angeles                      2
7      Canada     New York                      1
8       India       Mumbai                     11
9          UK      Chicago                      3
10         UK  Los Angeles                     13
11         UK     New York                     13
12        USA      Chicago                     13
13        USA      Houston                     14
14        USA  Los Angeles                      1
15        USA     New York                      3